{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>MyShop | product</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <h4 class="background text-light p-2 text-center">Single Product Section</h4>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            {% if Product.pic1 %}
            <img src={{Product.pic1.url}} class="card-img-top" height="100%" alt="...">
            {% else %}
            <img src="{% static 'images/noimagep.png'%}" class="card-img-top" height="100%" alt="...">
            {% endif %}
          </div>
          <div class="carousel-item">
            {% if Product.pic2 %}
            <img src={{Product.pic2.url}} class="card-img-top" height="100%" alt="...">
            {% else %}
            <img src="{% static 'images/noimagep.png'%}" class="card-img-top" height="100%" alt="...">
            {% endif %}
          </div>
          <div class="carousel-item">
            {% if Product.pic3 %}
            <img src={{Product.pic3.url}} class="card-img-top" height="100%" alt="...">
            {% else %}
            <img src="{% static 'images/noimagep.png'%}" class="card-img-top" height="100%" alt="...">
            {% endif %}
          </div>
          <div class="carousel-item">
            {% if Product.pic4 %}
            <img src={{Product.pic4.url}} class="card-img-top" height="100%" alt="...">
            {% else %}
            <img src="{% static 'images/noimagep.png'%}" class="card-img-top" height="100%" alt="...">
            {% endif %}
          </div>
        </div>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class=" mb-2 mt-2">
        {% if Product.pic1 %}
        <img src={{Product.pic1.url}} class="card-img-top" style="height: 24%;width: 24%;" alt="...">
        {% else %}
        <img src="{% static 'images/noimagep.png'%}" class="card-img-top" style="height: 24%;width: 24%;" alt="...">
        {% endif %}
        {% if Product.pic2 %}
        <img src={{Product.pic2.url}} class="card-img-top" style="height: 24%;width: 24%;" alt="...">
        {% else %}
        <img src="{% static 'images/noimagep.png'%}" class="card-img-top" style="height: 24%;width: 24%;" alt="...">
        {% endif %}
        {% if Product.pic3 %}
        <img src={{Product.pic3.url}} class="card-img-top" style="height: 24%;width: 24%;" alt="...">
        {% else %}
        <img src="{% static 'images/noimagep.png'%}" class="card-img-top" style="height: 24%;width: 24%;" alt="...">
        {% endif %}
        {% if Product.pic4 %}
        <img src={{Product.pic4.url}} class="card-img-top" style="height: 24%;width: 24%;" alt="...">
        {% else %}
        <img src="{% static 'images/noimagep.png'%}" class="card-img-top" style="height: 24%;width: 24%;" alt="...">
        {% endif %}
      </div>
    </div>
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-6 col-sm-12 col-xs-12 col-12">
      <table class="table table-light table-striped table-hover">
        <tr>
          <th>Name:</th>
          <td>{{Product.name}}</td>
        </tr>
        <tr>
          <th>Main-Category:</th>
          <td>{{Product.maincat.name}}</td>
        </tr>
        <tr>
          <th>Sub-Category:</th>
          <td>{{Product.subcat.name}}</td>
        </tr>
        <tr>
          <th>Brand:</th>
          <td>{{Product.brand.name}}</td>
        </tr>
        <tr>
          <th>Base Price:</th>
          <td>Rs: {{Product.baseprice}}</td>
        </tr>
        <tr>
          <th>Discount:</th>
          <td>{{Product.discount}}</td>
        </tr>
        <tr>
          <th>Final Price:</th>
          <td>Rs: {{Product.finalprice}}</td>
        </tr>
        <tr>
          <th>Color:</th>
          <td>{{Product.color}}</td>
        </tr>
        <tr>
          <th>Size:</th>
          <td>{{Product.size}}</td>
        </tr>
        <tr>
          <th>Color:</th>
          <td>{{Product.color}}</td>
        </tr>
        <tr>
          <th>Stock:</th>
          {% if Product.stock %}
          <td>In Stock</td>
          {% else %}
          <td>Out Of Stock</td>
          {% endif %}
        </tr>
        <tr>
          <th>Description:</th>
          <td>{{Product.description}}</td>
        </tr>
        <tr>
          <th>
            <form action="#" method="post">
              {% csrf_token %}
              <input type="number" min="1" name="q" class="form-control" style="width: 30%;" value="1">
          </th>
          <td><button type="submit" class="btn background text-light"
              style="display:inline-block; width:45%; font-size:14px;">Add To Cart</button>
            <a href="/wishlist/{{Product.id}}/" class="btn background text-light"
              style="display:inline-block; width:45%; font-size: 14px;">Add To Wishlist</a>

          </td>
          </form>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}